.active_page {
  border: 2px solid rgb(0, 217, 217) !important;
  background-color: rgba(255, 255, 255, 0.20) !important;
  transform: scale(1.2);
}

.page{
  padding: 5px 15px;
  color: rgb(0, 217, 217);
  font-size: 14px;
  background: transparent;
  border: 1px solid rgb(0, 217, 217);
  cursor: pointer;
  border-radius: 0.5em;
  max-width: fit-content;
}